# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log
gitrevision.cc
compiler-version.cc
compiler-flags.cc


3rdparty/local/
3rdparty/openfst-src.tar.gz
3rdparty/openfst-src/
src/bin/dcd-recog
src/bin/far-to-lattice
src/bin/farfilter
src/bin/farprintnbeststrings
src/kaldibin/lattice-to-far
src/kaldibin/make-arc-types
src/nbproject/
