@import url('main-blessed1.css?z=1395657739570');


@media (max-width: 1050px) { .is-hidden-desktop { display: block !important; }
  .is-visible-desktop { display: none !important; }
  .is-visible-tablet { display: block !important; }
  .is-hidden-tablet { display: none !important; } }
@media (max-width: 850px) { .is-visible-tablet-portrait { display: block !important; }
  .is-hidden-tablet-portrait { display: none !important; } }
@media only screen and (max-width: 750px) { .is-visible-mobile { display: block !important; }
  .is-hidden-mobile { display: none !important; } }
@media only screen and (max-width: 400px) { .is-visible-mobile-portrait { display: block !important; }
  .is-hidden-mobile-portrait { display: none !important; } }
@media print { .is-visible-print { display: block !important; }
  .is-hidden-print { display: none !important; } }
.js-link[data-href] { cursor: pointer; }

body:after { display: none; content: 'desktop'; }
@media (max-width: 1050px) { body:after { content: 'tablet'; } }
@media (max-width: 850px) { body:after { content: 'tablet-portrait'; } }
@media only screen and (max-width: 750px) { body:after { content: 'mobile'; } }
@media only screen and (max-width: 400px) { body:after { content: 'mobile-portrait'; } }

.media-dispatcher-fallback { display: none; margin-bottom: 0px; }
@media (max-width: 1050px) { .media-dispatcher-fallback { margin-bottom: 1px; } }
@media (max-width: 850px) { .media-dispatcher-fallback { margin-bottom: 2px; } }
@media only screen and (max-width: 750px) { .media-dispatcher-fallback { margin-bottom: 3px; } }
@media only screen and (max-width: 400px) { .media-dispatcher-fallback { margin-bottom: 4px; } }

body:before { display: none; content: ''; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) { body:before { content: 'retina'; } }

@media print { * { -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
  .ico:after { background-color: transparent !important; -webkit-transform: scale(0.75); -moz-transform: scale(0.75); -ms-transform: scale(0.75); -o-transform: scale(0.75); transform: scale(0.75); }
  html { font-size: 11px !important; }
  body { color: black !important; }
  .content-pane { background-color: transparent !important; padding-left: 0 !important; padding-right: 0 !important; }
  .l-grid-page > * { float: none !important; width: auto !important; margin-right: 0; margin-left: 0; padding-left: 0 !important; padding-right: 0 !important; }
  #site-navigation { visibility: hidden !important; }
  .header-image, .l-side-bar, .l-side-bar-checkout, .destination-offers, .corporate-links, .content-teaser-dropdown, .content-teaser-slider, .print-button, .more-options-link, .collapsable-more-link, .btn { display: none !important; }
  select { background-image: none !important; }
  .route-network-map, .route-network .tabs-navigation { display: none !important; }
  .site-footer { text-align: center; }
  .site-footer .is-visible-print { width: 100%; }
  .site-footer .social-media-links, .site-footer .corporate-meta-links, .site-footer .star-alliance-logo { display: none !important; }
  .site-footer .copyright { display: block !important; }
  .js-tabs-pane { display: none !important; }
  .js-tabs-pane.is-active { display: block !important; } }
.is-disabled-fld, .is-disabled-label { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25); opacity: 0.25; }

.is-disabled { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25); opacity: 0.25; pointer-events: none; }

*[disabled] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25); opacity: 0.25; pointer-events: none; }

.is-ajax-loading { -webkit-transition: opacity 300ms; -moz-transition: opacity 300ms; -o-transition: opacity 300ms; transition: opacity 300ms; opacity: 0.5; pointer-events: none; }

.is-ajax-loading .ajax-load-overlay, .is-ajax-loader:before { content: ''; display: block; position: absolute; z-index: 20; top: 50%; left: 50%; width: 36px; height: 36px; margin-top: -20px; margin-left: -20px; background-image: url(../PublishingImages/anims/loader-anim-white.gif); background-position: center center; background-repeat: no-repeat; background-size: 24px 24px; background-color: white; opacity: 0.75; border-radius: 20px; }

.ajax-loading-box.is-ajax-loading { padding: 20px; position: relative; }

.is-ajax-loader:before { z-index: 1; top: 50%; left: 0px; right: -5px; bottom: -5px; width: 30px; height: 30px; margin-top: -15px; margin-left: -15px; background-color: #fff; background-color: rgba(255, 255, 255, 0.8); border: none; background-size: 18px 18px; }

.js .toggler .is-visible-active { display: none; }
.js .toggler.is-toggler-active .is-visible-active { display: block; }
.js .toggler.is-toggler-active .is-hidden-active { display: none; }

.booking-cart-entry.is-highlighted, .booking-cart-entries.is-highlighted, .is-booking-added-item { z-index: 1; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); border: 1px solid #b4bc88 !important; outline: 1px solid #b4bc88 !important; -webkit-transition: box-shadow 200ms ease-in; -moz-transition: box-shadow 200ms ease-in; -o-transition: box-shadow 200ms ease-in; transition: box-shadow 200ms ease-in; -webkit-animation: booking-cart-highlight-animation 1.5s forwards ease-out; -moz-animation: booking-cart-highlight-animation 1.5s forwards ease-out; -ms-animation: booking-cart-highlight-animation 1.5s forwards ease-out; -o-animation: booking-cart-highlight-animation 1.5s forwards ease-out; animation: booking-cart-highlight-animation 1.5s forwards ease-out; }

@-moz-document url-prefix() { .booking-cart-entry.is-highlighted, .booking-cart-entries.is-highlighted { outline: none; }
  .is-booking-added-item { outline: none; } }

@-webkit-keyframes booking-cart-highlight-animation { 0% { border-color: #b4bc88; outline-color: #b4bc88; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); }
  20% { border-color: rgba(180, 188, 136, 0.1); outline-color: rgba(180, 188, 136, 0.1); box-shadow: 0 0 10px 10px rgba(180, 188, 136, 0.7); }
  100% { border-color: rgba(180, 188, 136, 0.5); outline-color: #b4bc88; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); } }

@-moz-keyframes booking-cart-highlight-animation { 0% { border-color: #b4bc88; outline-color: #b4bc88; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); }
  20% { border-color: rgba(180, 188, 136, 0.1); outline-color: rgba(180, 188, 136, 0.1); box-shadow: 0 0 10px 10px rgba(180, 188, 136, 0.7); }
  100% { border-color: rgba(180, 188, 136, 0.5); outline-color: #b4bc88; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); } }

@-ms-keyframes booking-cart-highlight-animation { 0% { border-color: #b4bc88; outline-color: #b4bc88; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); }
  20% { border-color: rgba(180, 188, 136, 0.1); outline-color: rgba(180, 188, 136, 0.1); box-shadow: 0 0 10px 10px rgba(180, 188, 136, 0.7); }
  100% { border-color: rgba(180, 188, 136, 0.5); outline-color: #b4bc88; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); } }

@keyframes booking-cart-highlight-animation { 0% { border-color: #b4bc88; outline-color: #b4bc88; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); }
  20% { border-color: rgba(180, 188, 136, 0.1); outline-color: rgba(180, 188, 136, 0.1); box-shadow: 0 0 10px 10px rgba(180, 188, 136, 0.7); }
  100% { border-color: rgba(180, 188, 136, 0.5); outline-color: #b4bc88; box-shadow: 0 0 20px 0 rgba(180, 188, 136, 0.7); } }

.t-home .main-stage { top: 42px; z-index: 1; }
@media only screen and (max-width: 750px) { .t-home .main-stage { top: 0; margin-bottom: 0; } }
.t-home .bookingbar { position: absolute; z-index: 2; }
@media only screen and (max-width: 750px) { .t-home #main-content { position: relative; }
  .t-home .main-stage { position: absolute; top: 0; left: 0; right: 0; }
  .t-home .bookingbar { position: relative !important; top: 10px; margin-bottom: 10px; min-height: 300px; width: auto; } }