/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.widget-splitcontent { *zoom: 1; }
.widget-splitcontent:before, .widget-splitcontent:after { content: ""; display: table; }
.widget-splitcontent:after { clear: both; }

.some-random-bugfix-selector { background-image: url("../PublishingImages/icons-sb4fcaa018f.png"); background-image: url("../PublishingImages/icons2x-s3d67b350b0.png"); }

.widget-slider-next:after { width: 7px; height: 7px; margin-left: -4px; margin-top: -4px; background-position: -341px 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) { .widget-slider-next:after { background-position: -326px 0; } }

.prepare-fly-stage-form .tabs-navigation-item .tabs-navigation-link .ico-plane-form-tab-nav:after { width: 40px; height: 40px; margin-left: -20px; margin-top: -20px; background-position: -3839px 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) { .prepare-fly-stage-form .tabs-navigation-item .tabs-navigation-link .ico-plane-form-tab-nav:after { background-position: -3821px 0; } }

.widget-slider-prev:after { width: 7px; height: 7px; margin-left: -4px; margin-top: -4px; background-position: -333px 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) { .widget-slider-prev:after { background-position: -318px 0; } }

.prepare-fly-stage-form .tabs-navigation-item.is-active .tabs-navigation-link .ico-plane-form-tab-nav:after, .prepare-fly-stage-form .tabs-navigation-item .tabs-navigation-link:hover .ico-plane-form-tab-nav:after { width: 13px; height: 12px; margin-left: -7px; margin-top: -6px; background-position: -3880px 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) { .prepare-fly-stage-form .tabs-navigation-item.is-active .tabs-navigation-link .ico-plane-form-tab-nav:after, .prepare-fly-stage-form .tabs-navigation-item .tabs-navigation-link:hover .ico-plane-form-tab-nav:after { background-position: -3862px 0; } }

.widget-slider-next:after, .widget-slider-prev:after { content: ""; position: absolute; top: 50%; left: 50%; background-image: url("../PublishingImages/icons-sb4fcaa018f.png"); background-repeat: no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) { .widget-slider-next:after, .widget-slider-prev:after { background-image: url("../PublishingImages/icons2x-s3d67b350b0.png"); background-size: 5284px auto; } }

.widget, .widget-blank { position: relative; width: 300px; font-size: 14px; font-size: 1rem; line-height: 1.3; }
.widget:after, .widget:before, .widget-blank:after, .widget-blank:before { z-index: 2; position: absolute; display: block; content: ""; background: #9e9890; width: 3px; height: 12px; margin-top: -5px; border-radius: 5px; top: 180px; box-shadow: 0 0 2px rgba(51, 51, 51, 0.1), inset 0 3px 4px rgba(255, 255, 255, 0.5); }
.widget:before, .widget-blank:before { left: 21px; }
.widget:after, .widget-blank:after { right: 21px; }

.widget .tabs-navigation.tabs-navigation--is-menu .tabs-navigation-item.is-active:after, .widget .tabs-navigation.tabs-navigation--is-menu .tabs-navigation-item.is-menu-visible:after { display: none; }
.widget .tabs-navigation-link { display: -moz-inline-stack; display: inline-block; vertical-align: top; *vertical-align: auto; zoom: 1; *display: inline; padding-right: 16px; }
.widget .tabs-navigation-link:before { content: ''; position: absolute; width: 0; height: 0; display: block; border-width: 5px; right: 0; top: 50%; margin-top: -3px; z-index: 1; border-bottom-color: transparent; border-left-color: transparent; border-right-color: transparent; border-style: solid; background: none; }

.lt-ie9 .widget:after, .lt-ie9 .widget:before, .lt-ie9 .widget-blank:after, .lt-ie9 .widget-blank:before { display: none !important; }

.widget-top .tabs-pane { position: static; }

.widget-top, .widget-bottom, .widget-blank-top, .widget-blank-bottom { position: relative; overflow: hidden; }
.widget-top:after, .widget-top:before, .widget-bottom:after, .widget-bottom:before, .widget-blank-top:after, .widget-blank-top:before, .widget-blank-bottom:after, .widget-blank-bottom:before { position: absolute; display: block; content: " "; width: 5px; height: 5px; background: #333333; border-radius: 5px; }
.widget-top:before, .widget-bottom:before, .widget-blank-top:before, .widget-blank-bottom:before { left: 20px; }
.widget-top:after, .widget-bottom:after, .widget-blank-top:after, .widget-blank-bottom:after { right: 20px; }
.widget-top p, .widget-bottom p, .widget-blank-top p, .widget-blank-bottom p { margin: 0 0 0.5em; }

.widget-blank-top, .widget-blank-top:after, .widget-blank-top:before, .widget-blank-bottom, .widget-blank-bottom:after, .widget-blank-bottom:before { opacity: 0.2; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; }

.lt-ie9 .widget-top:after, .lt-ie9 .widget-top:before, .lt-ie9 .widget-bottom:after, .lt-ie9 .widget-bottom:before, .lt-ie9 .widget-blank-top:after, .lt-ie9 .widget-blank-top:before, .lt-ie9 .widget-blank-bottom:after, .lt-ie9 .widget-blank-bottom:before { display: none; }

.widget-blank:after, .widget-blank:before { display: none; }

.widget-top:after, .widget-top:before, .widget-blank-top:after, .widget-blank-top:before { bottom: 2px; }

.widget-bottom:after, .widget-bottom:before, .widget-blank-bottom:after, .widget-blank-bottom:before { top: 2px; }

.widget-top, .widget-blank-top { height: 180px; background: #f5f4f1; margin-bottom: 1px; }

.widget-bottom, .widget-blank-bottom { box-shadow: inset 3px -5px white, inset -3px -5px white, inset 0 3px 5px rgba(51, 51, 51, 0.1); height: 185px; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #6f6660; font-size: 14px; font-size: 1rem; }

.widget-link, .widget-blank-link { position: relative; display: block; background: #7f766e; color: white; text-decoration: none; font-size: 14px; font-size: 1rem; padding: 11px 15px; }
.widget-link:after, .widget-link:before, .widget-blank-link:after, .widget-blank-link:before { content: ""; position: absolute; display: block; }
.widget-link:after, .widget-blank-link:after { right: 11px; top: 50%; margin-top: -4px; width: 0; height: 0; border: 4px solid transparent; border-left-color: white; border-right: none; }
.widget-link:hover, .widget-link:focus, .widget-blank-link:hover, .widget-blank-link:focus { color: white; background: #cc0000; }
.widget-link:visited, .widget-blank-link:visited { color: white; }

.widget-blank-link { visibility: hidden; }
.widget-blank-link:before { height: 3px; border: solid #f5f4f1; border-width: 1px 0; top: -5px; left: 0; right: 0; }

.widget-title.is-bold, .widget-subtitle.is-bold, .widget-title-large { font-family: "CH-Sans-Bold", "CH-Sans", Arial, sans-serif; font-weight: 700; }

.widget-title-large { font-size: 32px; font-size: 2.28571rem; }

.widget-title, .widget-subtitle, .widget-title-large { margin: 0 !important; color: #333333; }
.widget-title a, .widget-subtitle a, .widget-title-large a { text-decoration: none; }

.widget-title + .widget-title-large { margin-top: -0.2em !important; }

.widget-subtitle { color: #7f766e; }

.widget-subtitle-status { font-size: 11px; font-size: 0.78571rem; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; text-transform: uppercase; color: white; padding: 3px 5px 2px; font-weight: bold; border-radius: 2px; }

.widget-header { margin-bottom: 15px; }

.widget-header-inline .widget-title { display: inline; }
.widget-header-inline .widget-subtitle { display: inline-block; }

.widget-textwrap { padding: 20px 15px; }

.widget-picto { position: absolute; bottom: 0; padding: 0 15px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.widget-picto .picto-large { padding: 0; }

.widget-picto-left { left: 0; right: 50%; }

.widget-picto-right { left: 50%; right: 0; }

.widget-picto-fullwidth { left: 0; right: 0; }
.widget-picto-fullwidth img { max-width: 100%; }

.widget-splitcontent .widget-center-picto { position: absolute; top: 50px; left: 50%; margin-left: -42px; }

.widget-separation { position: absolute; top: 0; bottom: 0; left: 50%; border-left: 1px solid #f5f4f1; }

.widget-splitcontent-left, .widget-splitcontent-right { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 50%; }

.widget-splitcontent-left { float: left; }

.widget-splitcontent-right { float: left; padding-left: 15px; }

.widget-table { margin-top: 2px; border-top: 1px solid #d6d3cc; }
.widget-table > li { background: #f5f4f1; border-bottom: 1px solid #d6d3cc; padding: 2px 5px 1px; }

.widget-table-title { display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; width: 100px; font-weight: bold; }

.widget-flight-header { margin-bottom: 10px; }

.widget-navigation-list { background: #f5f4f1; }
.widget-navigation-list .link { padding: 6px 25px 5px 9px; }
.widget-navigation-list .link, .widget-navigation-list .link:visited { color: #6f6660; }

.widget-flight-header-icon { float: left; width: 40px; height: 48px; }
.widget-flight-header-icon .picto { margin-top: 11px; display: block; }

.widget-ribbon { position: absolute; top: 0; right: 0; }

.widget-calendar-day { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "CH-Sans", Arial, sans-serif; -webkit-font-smoothing: antialiased; position: relative; float: left; width: 62px; height: 49px; background: #6f6660; color: #f5f4f1; text-align: center; letter-spacing: 6px; margin-right: 11px; font-size: 40px; font-size: 2.85714rem; line-height: 50px; font-weight: bold; padding-left: 5px; }
.widget-calendar-day:after, .widget-calendar-day:before { content: ""; display: block; position: absolute; background: #f5f4f1; }
.widget-calendar-day:after { width: 2px; left: 50%; top: 0; bottom: 0; margin-left: -1px; }
.widget-calendar-day:before { height: 1px; top: 50%; left: 0; right: 0; }

.widget-weather-text-label, .widget-calendar-text-label { color: #9e9890; }

.widget-weather-title, .widget-calendar-title { line-height: 1; }

.widget-weather-title { display: block; font-weight: 300; }
.widget-weather-title span { display: -moz-inline-stack; display: inline-block; vertical-align: top; *vertical-align: auto; zoom: 1; *display: inline; font-size: 0.75em; line-height: 1.2; }

.widget-icon-list { width: 100%; display: table; border-top: 1px solid #d6d3cc; background: #f5f4f1; margin-bottom: 5px; border-collapse: collapse; }
.widget-icon-list li { display: table-row; width: 100%; border-bottom: 1px solid #d6d3cc; }
.widget-icon-list li > * { display: table-cell; padding: 6px 9px; }
.widget-icon-list li > * .widget-icon-list-content { float: right; }
.widget-icon-list.navigation-link-list li > a { padding: 6px 22px 6px 9px; }
.widget-icon-list .link { border: none; padding-top: 0; padding-bottom: 0; padding-left: 0; margin-right: -9px; }
.widget-icon-list .picto { position: relative; left: -4px; margin-right: -4px; }
.widget-icon-list.is-condensed li { padding: 3px 9px; }
.widget-icon-list .ico-download-document { margin-top: -2px; margin-right: 5px; }

.widget-weather-icon { position: absolute; width: 80px; height: 80px; left: 20px; bottom: 15px; }
.widget-weather-icon img { width: 100%; }

.widget-weather-text { padding-left: 95px; }

.widget-weather-titel { font-weight: normal; }
.widget-weather-titel strong { font-weight: bold; }

.widget-icon-list-title-icon { width: 20px; margin-bottom: -5px; }

.widget-icon-list-content { text-align: right; font-size: 11px; font-size: 0.78571rem; text-transform: uppercase; }

.widget-shop { position: absolute; top: 15px; right: 0; bottom: 15px; left: 0; text-align: center; }

.widget-shop-image { margin-top: 15px; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; }

.widget-tab-item { width: 100%; }

.widget-content-title { display: block; margin-top: 6px; }

.widget-fleet-list { margin-top: -15px; }

.widget-slider-bottom, .widget-slider-top, .widget-slider-slide { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.widget-slider-bottom .content-teaser-slider-slide-nr, .widget-slider-top .content-teaser-slider-slide-nr, .widget-slider-slide .content-teaser-slider-slide-nr { visibility: visible; }
.widget-slider-bottom .content-teaser-slider-indicator, .widget-slider-top .content-teaser-slider-indicator, .widget-slider-slide .content-teaser-slider-indicator { position: absolute; top: 12px; right: 12px; z-index: 2; }

.widget-slider-slide { opacity: 0; visibility: none; -webkit-transition: opacity 400ms ease-in, visibility 400ms ease-in; -moz-transition: opacity 400ms ease-in, visibility 400ms ease-in; -o-transition: opacity 400ms ease-in, visibility 400ms ease-in; transition: opacity 400ms ease-in, visibility 400ms ease-in; }
.widget-slider-slide.is-active { opacity: 1; visibility: visible; }

.lt-ie9 .widget-slider-slide { display: none; }
.lt-ie9 .widget-slider-slide.is-active { display: block; }

.currency-convert { position: relative; }
.currency-convert .ico-arrow-currency-converter { z-index: 1; display: block; position: absolute; top: 20px; left: 50%; margin-left: -8px; }

.widget-bottom .currency-convert { position: absolute; left: 15px; right: 15px; bottom: 15px; }

.widget-stage-list { position: relative; margin-right: -20px; }
.widget-stage-list > li { margin: 0 16px 20px 0; }

.lt-ie9 .widget-stage-list { overflow: hidden; }

.js.csstransforms3d.no-touch .widget-stage-list .widget { -webkit-perspective: 800px; -moz-perspective: 800px; -ms-perspective: 800px; -o-perspective: 800px; perspective: 800px; opacity: 0; -webkit-transition: opacity 200ms; -moz-transition: opacity 200ms; -o-transition: opacity 200ms; transition: opacity 200ms; }
.js.csstransforms3d.no-touch .widget-stage-list .widget .widget-top, .js.csstransforms3d.no-touch .widget-stage-list .widget .widget-bottom { z-index: 1; -webkit-transition: opacity 200ms, -webkit-transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275); -moz-transition: opacity 200ms, -moz-transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: opacity 200ms, -o-transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275); transition: opacity 200ms, transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.js.csstransforms3d.no-touch .widget-stage-list .widget .widget-top { opacity: 0; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transform: rotateX(-90deg); -moz-transform: rotateX(-90deg); -ms-transform: rotateX(-90deg); -o-transform: rotateX(-90deg); transform: rotateX(-90deg); -webkit-transition-delay: 300ms; -moz-transition-delay: 300ms; -o-transition-delay: 300ms; transition-delay: 300ms; }
.js.csstransforms3d.no-touch .widget-stage-list .widget .widget-bottom { opacity: 0; -webkit-transform-origin: 50% 0%; -moz-transform-origin: 50% 0%; -ms-transform-origin: 50% 0%; -o-transform-origin: 50% 0%; transform-origin: 50% 0%; -webkit-transform: rotateX(180deg); -moz-transform: rotateX(180deg); -ms-transform: rotateX(180deg); -o-transform: rotateX(180deg); transform: rotateX(180deg); }
.js.csstransforms3d.no-touch .widget-stage-list .widget .widget-link { opacity: 0; -webkit-transform: translateY(-50px); -moz-transform: translateY(-50px); -ms-transform: translateY(-50px); -o-transform: translateY(-50px); transform: translateY(-50px); -webkit-transition: opacity 900ms, -webkit-transform 900ms ease-out; -moz-transition: opacity 900ms, -moz-transform 900ms ease-out; -o-transition: opacity 900ms, -o-transform 900ms ease-out; transition: opacity 900ms, transform 900ms ease-out; -webkit-transition-delay: 1200ms, 1200ms; -moz-transition-delay: 1200ms, 1200ms; -o-transition-delay: 1200ms, 1200ms; transition-delay: 1200ms, 1200ms; }
.js.csstransforms3d.no-touch .widget-stage-list .widget .widget-background { position: absolute; }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready { opacity: 1; }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready .widget-top, .js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready .widget-bottom { opacity: 1; }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready .widget-bottom, .js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready .widget-top { -webkit-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -ms-transform: rotateX(0deg); -o-transform: rotateX(0deg); transform: rotateX(0deg); }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready .widget-link { opacity: 1; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete { -webkit-perspective: none; -moz-perspective: none; -ms-perspective: none; -o-perspective: none; perspective: none; }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete .widget-top, .js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete .widget-bottom, .js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete .widget-link { opacity: 1; -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete.is-finished { -webkit-perspective: 800px; -moz-perspective: 800px; -ms-perspective: 800px; -o-perspective: 800px; perspective: 800px; opacity: 0; -webkit-transition: opacity 200ms; -webkit-transition-delay: 300ms; -moz-transition: opacity 200ms 300ms; -o-transition: opacity 200ms 300ms; transition: opacity 200ms 300ms; }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete.is-finished .widget-top, .js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete.is-finished .widget-bottom, .js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete.is-finished .widget-link { z-index: 1; -webkit-transition: opacity 100ms 300ms, -webkit-transform 400ms ease-in; -webkit-transition-delay: linear, 0s; -moz-transition: opacity 100ms 300ms linear, -moz-transform 400ms ease-in; -o-transition: opacity 100ms 300ms linear, -o-transform 400ms ease-in; transition: opacity 100ms 300ms linear, transform 400ms ease-in; }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete.is-finished .widget-top { opacity: 0; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; -ms-transform-origin: 50% 100%; -o-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-transform: translateZ(-200px) rotateX(-70deg); -moz-transform: translateZ(-200px) rotateX(-70deg); -ms-transform: translateZ(-200px) rotateX(-70deg); -o-transform: translateZ(-200px) rotateX(-70deg); transform: translateZ(-200px) rotateX(-70deg); }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete.is-finished .widget-bottom { opacity: 0; -webkit-transform-origin: 50% 0%; -moz-transform-origin: 50% 0%; -ms-transform-origin: 50% 0%; -o-transform-origin: 50% 0%; transform-origin: 50% 0%; -webkit-transform: translateZ(-200px) rotateX(70deg); -moz-transform: translateZ(-200px) rotateX(70deg); -ms-transform: translateZ(-200px) rotateX(70deg); -o-transform: translateZ(-200px) rotateX(70deg); transform: translateZ(-200px) rotateX(70deg); }
.js.csstransforms3d.no-touch .widget-stage-list .widget.is-ready.is-complete.is-finished .widget-link { opacity: 0; -webkit-transform-origin: 50% 0%; -moz-transform-origin: 50% 0%; -ms-transform-origin: 50% 0%; -o-transform-origin: 50% 0%; transform-origin: 50% 0%; -webkit-transform: rotateX(-90deg); -moz-transform: rotateX(-90deg); -ms-transform: rotateX(-90deg); -o-transform: rotateX(-90deg); transform: rotateX(-90deg); }

.fly-startwrap { margin: 40px 0 0; }

.prepare-fly-stage-form .tabs-navigation-link .ico { margin: 0 5px; }
.prepare-fly-stage-form .tabs-navigation-item.is-active .tabs-navigation-link { background: #333333; color: #f5f4f1; }
.prepare-fly-stage-form .tabs-navigation-item .tabs-navigation-link { background: #d6d3cc; color: #333333; }

.prepare-fly-stage-column { position: relative; }
.prepare-fly-stage-column select { width: 75%; }
@media only screen and (max-width: 750px) { .prepare-fly-stage-column select { width: 100%; } }
@media only screen and (max-width: 750px) { .prepare-fly-stage-column { margin-bottom: 10px; } }

.prepare-fly-stage-action-column { text-align: right; color: #bab6ae; }
.prepare-fly-stage-action-column a { color: white; }
.prepare-fly-stage-action-column a:hover { color: #cc0000; }
.prepare-fly-stage-action-column .btn:hover { color: white; }

.prepare-fly-stage-footer { text-align: center; color: #9e9890; font-size: 12px; font-size: 0.85714rem; line-height: 1.3; }
.prepare-fly-stage-footer a { color: white; }
.prepare-fly-stage-footer a:hover { color: #cc0000; }

.prepare-fly-stage-login-text { margin-right: 10px; }
.prepare-fly-stage-login-text a { color: white; text-decoration: none; }
.prepare-fly-stage-login-text a:hover { color: white; text-decoration: underline; }

.prepare-fly-stage-login-text-tooltip { display: block; margin-right: 37px; }

.prepare-fly-stage-login-icon { position: absolute; top: 50%; right: 0; background-color: transparent; border-color: rbga(255, 255, 255, 0.2); }

.widget-enter-destination-image, .widget-login-image { position: absolute; }

.widget-enter-destination-image { top: -60px; right: -240px; }
@media only screen and (max-width: 750px) { .widget-enter-destination-image { display: none; } }
@media (max-width: 850px) { .widget-enter-destination-image { right: auto; } }

.widget-login-image { top: 43px; right: 28px; }
@media only screen and (max-width: 750px) { .widget-login-image { display: none; } }

@media (max-width: 1050px) { .widget-slide { width: 940px; margin: 0 auto; } }
@media only screen and (max-width: 1020px) { .widget-slide { width: 620px; margin: 0 auto; } }
@media only screen and (max-width: 750px) { .widget-slide { padding-top: 0; width: 300px; } }
@media (max-width: 1050px) { .widget-slide { position: relative; } }

.widget-slider { position: relative; height: 406px; }
@media only screen and (max-width: 750px) { .widget-slider { margin: 0; } }
.widget-slider .widget-stage-list { position: relative; white-space: nowrap; }
.widget-slider .widget-stage-list > li { position: relative; white-space: normal; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; -webkit-transition: opacity 300ms ease-in-out; -moz-transition: opacity 300ms ease-in-out; -o-transition: opacity 300ms ease-in-out; transition: opacity 300ms ease-in-out; white-space: normal; }
.widget-slider .widget-stage-list > li.is-active { opacity: 1; }

.lt-ie9 .widget-slider-next, .lt-ie9 .widget-slider-prev { zoom: 1; }

.widget-slider-next, .widget-slider-prev { position: absolute; top: 0; z-index: 10; height: 100%; width: 100%; }
.widget-slider-next .ico, .widget-slider-prev .ico { position: absolute; bottom: 50%; margin-bottom: -17px; }

.widget-slider-next { right: -100%; }
.widget-slider-next .ico { left: 20px; }
.widget-slider-next:after { left: auto; right: 8px; display: none; }

.widget-slider-prev { left: -100%; }
.widget-slider-prev .ico { right: 20px; }
.widget-slider-prev:after { left: 8px; display: none; }

@media (max-width: 1050px) { #widget-container { position: relative; }
  .widget-slide { position: static; }
  .widget-slider-next, .widget-slider-prev { display: block; width: 50px; -webkit-transform: translateZ(500px); }
  .widget-slider-next:before, .widget-slider-prev:before { content: ''; display: block; position: absolute; width: 50px; height: 50px; background-color: #6f6660; background-color: rgba(0, 0, 0, 0.5); border-radius: 50px; top: 50%; margin-top: -46px; }
  .widget-slider-next:after, .widget-slider-prev:after { margin-top: -26px; margin-left: 0; display: block; }
  .widget-slider-next .ico, .widget-slider-prev .ico { display: none; }
  .no-touch .widget-slider-next:hover:before, .no-touch .widget-slider-prev:hover:before { background-color: black; }
  .widget-slider-next.is-disabled, .widget-slider-prev.is-disabled { display: none; }
  .widget-slider-prev { left: -20px; }
  .widget-slider-prev:before { left: -25px; }
  .widget-slider-next { right: -20px; }
  .widget-slider-next:before { right: -25px; } }
@media only screen and (max-width: 400px) { .widget-slider-prev { left: -5px; }
  .widget-slider-next { right: -5px; } }
.widget-image { width: 100%; }

.widget-image--rounded { -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%; }

/*
element.style {
width: 50px;
height: 50px;
background-color: rgba(0,0,0,0.8);
right: 0;
border-radius: 50px;
bottom: 50%;
margin-bottom: 2px;
}
.widget-slider-prev .ico:before {
content: '';
display: block;
width: 0;
height: 0;
border: 5px solid transparent;
position: absolute;
top: 50%;
right: 13px;
margin-top: -5px;
border-right-color: white;
}
*/
